.CustomModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 100;
  &__wrap {
    width: 500px;
    margin: 200px auto 0;
    min-height: 200px;
    z-index: 150;
  }
  &__content {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  &__actions {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
  }
  i {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 0.6;
    &:hover {
      cursor: pointer;
      color: white;
      opacity: 1;
    }
  }
}